.recipe {
    border : 1px solid whitesmoke;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 2rem;
    padding: 1rem;
    flex: 2;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    box-shadow: 0px 2px 3rem rgb(255,255,255,0.65) ;
    z-index: 25;
    backdrop-filter: blur(2rem);
}
.recipe:hover {
    /* margin: 2.5rem ;
    padding: 1.3rem; */
    box-shadow: 0px 4px 5rem rgb(255,255,255,0.9) ;
    z-index: 50;
    backdrop-filter: blur(10rem);
}
img {
    border-radius: 3rem;
    box-shadow: 1px 1px 3px black;
}